.itemAlbum{
    min-width: 774px;
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    padding: 24px 56px;
    gap: 24px;
    align-items: center;
    cursor: pointer;
}
.wrapperImages{
    padding-left: 105px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 42px;
}