.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.47);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    z-index: 2;
}
.modalHeader{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 35px;

}
.close{
    cursor: pointer;
}